<div class="container" >
    <div class="row">
        <div class="col-xs-12" >
            <p [test]="color">Highlight me!</p>
            <h2 highlight>angular-cli-test</h2>
            <nav>
                <a routerLink="/hero/form" routerLinkActive="active">hreo-form</a>
                <a routerLink="/test" ROUTERLINKACTIVE="active">test</a>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
                <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
                <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
                <a routerLink="/admin" routerLinkActive="active">Admin</a>
                <a routerLink="/login" routerLinkActive="active">Login</a>
            </nav>
            <router-outlet></router-outlet>
            <!--<hero-form></hero-form>-->
        </div>
    </div>
</div>